<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - ShopCart</title>
 
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="logo">Shop Cart</div>
            <div class="subtitle">Don't have an account?</div>
            <button class="form-button" (click)="goTo('sign-up')" style="width: 100px">Sign Up</button>
        </div>
        <div class="right-panel">
            <form class="form" (ngSubmit)="onSubmit()">
                <h2>Sign In</h2>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
                <div class="checkbox-group">
                    <label><input type="checkbox" [(ngModel)]="rememberMe"> Remember me</label>
                    <label (click)="onForgetPassword()" style="cursor: pointer; color: #d9167f;">Forget Password?</label>
                </div>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>

</body>
</html>
